<footer>
  <div class="container">
    <div class="footer-inner-content">
      <div class="row gy-5">
        <div class="col-lg-4 col-md-6">
          <!--Logo -->
          <div class="logo-default">
            <a class="navbar-brand {{#compare active '==' 'index'}}active{{/compare}}" href="{{path}}index.html">
              <img class="img-fluid logo" src="{{path}}/assets/images/marvel-creation-logo.png" alt="maravel-creation-logo">
            </a>
          </div>
          <p class="mt-5 mb-3 footer-desc">Marvel Creation, a full-service production firm specialising in combining
            photography and cinematography in one location, was founded in 1995 by sanjay patel and parth patel.</p>
          <ul class="list-inline d-flex align-items-center mb-0 gap-3">
            <li class="avatar-40 social-icon"><a href="https://www.instagram.com/marvelcreation.in/" target="_blank"><i class="ph ph-instagram-logo text-white"></i></a></li>
            <li class="avatar-40 social-icon"><a href="https://m.facebook.com/marvelcreation.in" target="_blank"><i
                  class="ph ph-facebook-logo text-white"></i></a></li>
            <li class="avatar-40 social-icon"><a href="https://wa.me/message/LEY5GTASPWF7I1" target="_blank"><i
                  class="ph ph-whatsapp-logo text-white"></i></a></li>
            <li class="avatar-40 social-icon"><a href="https://www.youtube.com/c/marvelcreationin" target="_blank"><i
                  class="ph ph-youtube-logo text-white"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-4">Quick Links</h5>
          <ul class="list-inline m-0 p-0 footer-link">
            <li><a href="{{path}}about-us.html">About</a></li>
            <li><a href="{{path}}photography.html">Photography</a></li>
            <li><a href="{{path}}films.html">Films</a></li>
            <li><a href="{{path}}package.html">Package</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-4">Services</h5>
          <ul class="list-inline m-0 p-0 footer-link">
            <li><a href="{{path}}photography.html">Wedding Photography</a></li>
            <li><a href="{{path}}photography.html">Portrait Sessions</a></li>
            <li><a href="{{path}}photography.html">Birthday Coverage</a></li>
            <li><a href="{{path}}films.html">Cinematography Video</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6">
          <h5 class="text-white mb-4">Contact Info</h5>
          <ul class="list-inline m-0 p-0 footer-link">
            <li>
              <div>
                <a class="d-flex align-items-center gap-2" href="mailto:Contact@marvelcreation.in?subject=Inquiry&body=Hello, I would like to know more about your services." target="_blank">
                  <i class="ph ph-envelope"></i><span>Contact@marvelcreation.in</span></a>
              </div>
            </li>
            <li>
              <div>
                <a class="d-flex align-items-center gap-2" href="tel: +91 9408828700"><i class="ph ph-phone"></i><span>+91 9408828700 - parth patel</span></a>
              </div>
            </li>
            <li>
              <div>
                <a class="d-flex align-items-center gap-2" href="tel: +91 9426426550"><i class="ph ph-phone"></i><span>+91 9426426550 - Sanjay Patel</span></a>
              </div>
            </li>
            <li>
              <div>
                <a class="d-flex align-items-center gap-2" href="https://maps.app.goo.gl/gRncKCc9arAY29yP7" target="_blank">
                <i class="ph ph-map-pin"></i><span>Ghej Vaghaldhara Road, Ta.Chikhli, Dist.Navsari, Gujarat-396521</span>
                </a></div>
            </li>
          </ul>
    </div>
  </div>
  </div>
  <div class="row justify-content-center py-5 border-top">
    <div class="col-md-8 m-auto">
      <h6 class="mb-0 mt-md-0 mt-3 text-white">Copyright ©
        <script>document.write(new Date().getFullYear())</script> Marvel Creation. All Rights Reserved. &amp; Designed &
        Developed by <span class="text-primary fw-bold text-decoration-underline">CreatiixDesign.</span>
      </h6>
    </div>
  </div>
  </div>
</footer>