<div class="col">
    <div class="blog-card rounded">
        <div class="blog-image-wrapper position-relative">
            <div class="blog-icon avatar-48 {{icon-bg}}">
                <i class="ph {{icon-name}}"></i>
            </div>
            <img src="{{path}}assets/images/{{blog-img}}" alt="blog-ai-image" class="blog-image img-fluid">
        </div>
        <div class="blog-detail section-bg p-lg-4 p-3">
            <h3>{{blog-title}}</h3>
            <p>{{blog-desc}}</p>
            <ul class="list-inline m-0 p-0 blog-list">
                <li> <i class="ph ph-check text-success"></i>Product Recommendations</li>
                <li> <i class="ph ph-check text-success"></i>Order Tracking</li>
                <li> <i class="ph ph-check text-success"></i>Returns Management</li>
                <li> <i class="ph ph-check text-success"></i>Inventory Updates</li>
            </ul>
        </div>
    </div>
</div>