<div class="portfolio-card">
    <a href="{{path}}photography.html" class="portfolio-img">
        <img src="{{path}}assets/images/media/{{portfolio-img}}" alt="maravel-portfolio" class="img-inner img-fluid">
    </a>
    <div class="portfolio-content d-flex align-items-center gap-1 flex-wrap flex-md-nowrap justify-content-between">
        <div class="mb-xl-0 mb-4 portfolio-inner">
            <div class="category text-uppercase text-start">{{portfolio-title}}</div>
            <a href="{{path}}photography.html">
                <h5 class="link-color text-start">
                    {{portfolio-description}}</h5>
            </a>
        </div>
        {{!-- <a href="{{path}}photography.html" class="btn btn-primary flex-shrink-0 p-3">View All</a> --}}
    </div>
</div>